# Build artifacts
*.zip
bootstrap
dist/
bin/
coverage.html

# Environment and secrets
.env
.env.local

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.tmp
go.work
go.work.sum
.envrc
./local
./runvoy

# Svelte
.svelte-kit
node_modules
dist
*.log
.vite

# Agents' development dirt
cmd/runvoy/runvoy
./processor
./orchestrator
./main
main

# Local Netlify folder
.netlify

# MkDocs site
site/
