name: Unit Tests and Coverage

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  tests:
    name: run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          cache: true
          go-version: stable

      - name: Add just
        uses: extractions/setup-just@v3

      - name: Generate coverage profile
        run: just gen-coverage

      - name: Check coverage threshold
        uses: vladopajic/go-test-coverage@v2
        with:
          config: .testcoverage.yml
