name: Tests and Coverage (Svelte)

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  tests:
    name: Tests and Coverage (Svelte)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: cmd/webapp

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install dependencies
        run: npm install

      - name: Run tests and generate coverage profile
        run: npm run test:coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          files: coverage/coverage-final.json
